<div style="display:flex;flex-direction:row;justify-content: space-evenly;">
    <img src="mexico.jpg" style="height:200px;">
    <img src="colima.svg" style="width:200px">
</div>
<div style="display:flex;flex-direction:column;gap:20px;text-align:center">
<h1>Tecnológico Nacional de México campus Colima</h1>
<h2>Maestría en Sistemas Computacionales</h2>
<h2>Tecnologías de programación</h2>
<h2>Actividad -  Introducción a SQLAlchemy</h2>
<h2>D. en C. Patricia Elizabeth Figueroa Millán</h2>
<h3>Sabino Tonatiuh González Rodríguez | G2146014</h3>
<p >Villa de Álvarez, Colima - 15 de diciembre de 2022</p>
</div>

In [1]:
import sqlalchemy

from sqlalchemy import create_engine
engine = create_engine('sqlite:///orm_example.db', echo=True)

In [2]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
from sqlalchemy import Column, Integer, String

class User(Base) :
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)

    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (
            self.name, self.fullname, self.password)

In [4]:
Base.metadata.create_all(engine)

2022-12-15 17:41:55,817 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-15 17:41:55,833 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2022-12-15 17:41:55,833 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-15 17:41:55,833 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [6]:
patricia = User(name='Patricia', fullname='Patricia Figueroa Millan', password='lifeonmars')
session.add(patricia)
patricia

In [7]:
user = session.query(User).filter_by(name='Patricia').first()

2022-12-15 17:41:56,072 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-15 17:41:56,072 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2022-12-15 17:41:56,072 INFO sqlalchemy.engine.Engine [generated in 0.00140s] ('Patricia', 'Patricia Figueroa Millan', 'lifeonmars')
2022-12-15 17:41:56,087 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2022-12-15 17:41:56,087 INFO sqlalchemy.engine.Engine [generated in 0.00119s] ('Patricia', 1, 0)

In [8]:
patricia is user

False

In [9]:
session.add_all([
    User(name='Pedro',fullname='Pedro Alvarez', password='12345'),
    User(name='Pablo',fullname='Pablo Perez', password='67890'),
    User(name='Penelope',fullname='Penelope Sanchez', password='09876')])
patricia.password = '3121077428'

In [10]:
session.commit()

2022-12-15 17:41:56,278 INFO sqlalchemy.engine.Engine UPDATE users SET password=? WHERE users.id = ?
2022-12-15 17:41:56,278 INFO sqlalchemy.engine.Engine [generated in 0.00177s] ('3121077428', 10)
2022-12-15 17:41:56,278 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2022-12-15 17:41:56,278 INFO sqlalchemy.engine.Engine [cached since 0.2043s ago] ('Pedro', 'Pedro Alvarez', '12345')
2022-12-15 17:41:56,278 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2022-12-15 17:41:56,278 INFO sqlalchemy.engine.Engine [cached since 0.2074s ago] ('Pablo', 'Pablo Perez', '67890')
2022-12-15 17:41:56,278 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2022-12-15 17:41:56,278 INFO sqlalchemy.engine.Engine [cached since 0.2102s ago] ('Penelope', 'Penelope Sanchez', '09876')
2022-12-15 17:41:56,278 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
patricia.name = 'Eduardo'

fake_user = User(name='fakeuser', fullname='Invalid', password='12345')
session.add(fake_user)

session.query(User).filter(User.name.in_(['Eduardo', 'fakeuser'])).all()

2022-12-15 17:41:56,341 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-15 17:41:56,341 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2022-12-15 17:41:56,341 INFO sqlalchemy.engine.Engine [generated in 0.00221s] (10,)
2022-12-15 17:41:56,341 INFO sqlalchemy.engine.Engine UPDATE users SET name=? WHERE users.id = ?
2022-12-15 17:41:56,357 INFO sqlalchemy.engine.Engine [generated in 0.00130s] ('Eduardo', 10)
2022-12-15 17:41:56,357 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2022-12-15 17:41:56,357 INFO sqlalchemy.engine.Engine [cached since 0.2824s ago] ('fakeuser', 'Invalid', '12345')
2022-12-15 17:41:56,357 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)
2022-12-15 17:41:56,357 INFO sqlalchemy.engine.Engine [generated in 0.00188s] ('Eduardo', 'fakeuser')

[<User(name='Eduardo', fullname='Patricia Figueroa Millan', password='3121077428')>,
 <User(name='fakeuser', fullname='Invalid', password='12345')>]

In [12]:
session.rollback()

2022-12-15 17:41:56,468 INFO sqlalchemy.engine.Engine ROLLBACK

In [13]:
patricia.name

2022-12-15 17:41:56,540 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-15 17:41:56,540 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2022-12-15 17:41:56,540 INFO sqlalchemy.engine.Engine [generated in 0.00120s] (10,)

'Patricia'

In [14]:
fake_user in session

False

In [15]:
for instance in session.query(User).order_by(User.id):
    print(instance)

2022-12-15 17:41:56,630 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2022-12-15 17:41:56,635 INFO sqlalchemy.engine.Engine [generated in 0.00089s] ()
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Pedro', fullname='Pedro Alvarez', password='12345')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>
<User(name='Penelope', fullname='Penelope Sanchez', password='09876')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Pedro', fullname='Pedro Alvarez', password='12345')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>
<User(name='Penelope', fullname='Penelope Sanchez', password='09876')>
<User(name='jack', fullname='Jack Bean', password='gjffdd')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Pedro', fullname='Pedro Alvarez', password='12345')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>
<User(name='Penelope', fullname='Penelope Sanchez', password='09876')>

In [16]:
for name, fullname in session.query(User.name, User.fullname):
    print(name, fullname)

2022-12-15 17:41:56,672 INFO sqlalchemy.engine.Engine SELECT users.name AS users_name, users.fullname AS users_fullname
FROM users
2022-12-15 17:41:56,672 INFO sqlalchemy.engine.Engine [generated in 0.00083s] ()
Patricia Patricia Figueroa Millan
Pedro Pedro Alvarez
Pablo Pablo Perez
Penelope Penelope Sanchez
Patricia Patricia Figueroa Millan
Pedro Pedro Alvarez
Pablo Pablo Perez
Penelope Penelope Sanchez
jack Jack Bean
Patricia Patricia Figueroa Millan
Pedro Pedro Alvarez
Pablo Pablo Perez
Penelope Penelope Sanchez

In [17]:
for user in session.query(User).filter(User.name == 'Patricia'):
    print(user)

2022-12-15 17:41:56,720 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
2022-12-15 17:41:56,720 INFO sqlalchemy.engine.Engine [generated in 0.00094s] ('Patricia',)
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>

In [18]:
for user in session.query(User).filter(User.name != 'Patricia'):
    print(user)

2022-12-15 17:41:56,767 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name != ?
2022-12-15 17:41:56,767 INFO sqlalchemy.engine.Engine [generated in 0.00102s] ('Patricia',)
<User(name='Pedro', fullname='Pedro Alvarez', password='12345')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>
<User(name='Penelope', fullname='Penelope Sanchez', password='09876')>
<User(name='Pedro', fullname='Pedro Alvarez', password='12345')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>
<User(name='Penelope', fullname='Penelope Sanchez', password='09876')>
<User(name='jack', fullname='Jack Bean', password='gjffdd')>
<User(name='Pedro', fullname='Pedro Alvarez', password='12345')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>
<User(name='Penelope', fullname='Penelope Sanchez', password='09876')>

In [19]:
for user in session.query(User).filter(User.name.like('%Patricia%')):
    print(user)

2022-12-15 17:41:56,814 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE ?
2022-12-15 17:41:56,814 INFO sqlalchemy.engine.Engine [generated in 0.00091s] ('%Patricia%',)
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>

In [20]:
for user in session.query(User).filter(User.name.in_(['Patricia', 'Pablo', 'Pedro'])):
    print(user)

2022-12-15 17:41:56,845 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?, ?)
2022-12-15 17:41:56,861 INFO sqlalchemy.engine.Engine [cached since 0.4956s ago] ('Patricia', 'Pablo', 'Pedro')
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Pedro', fullname='Pedro Alvarez', password='12345')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Pedro', fullname='Pedro Alvarez', password='12345')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Pedro', fullname='Pedro Alvarez', password='12345')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>

In [21]:
for user in session.query(User).filter(User.name == 'Patricia', User.fullname == 'Patricia Figueroa Millan'):
    print(user)

2022-12-15 17:41:56,909 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ? AND users.fullname = ?
2022-12-15 17:41:56,909 INFO sqlalchemy.engine.Engine [generated in 0.00079s] ('Patricia', 'Patricia Figueroa Millan')
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>

In [22]:
from sqlalchemy import or_
for user in session.query(User).filter(or_(User.name == 'Patricia', User.name == 'Pablo')):
    print(user)

2022-12-15 17:41:56,941 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ? OR users.name = ?
2022-12-15 17:41:56,941 INFO sqlalchemy.engine.Engine [generated in 0.00091s] ('Patricia', 'Pablo')
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>
<User(name='Patricia', fullname='Patricia Figueroa Millan', password='3121077428')>
<User(name='Pablo', fullname='Pablo Perez', password='67890')>

In [23]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

class Address(Base):
    __tablename__ = 'addresses'
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))
    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return "<Address(email_address='%s')>" % self.email_address

In [24]:
User.addresses = relationship("Address", order_by=Address.id, back_populates="user")

Base.metadata.create_all(engine)

2022-12-15 17:41:57,036 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-15 17:41:57,036 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2022-12-15 17:41:57,044 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-15 17:41:57,044 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("addresses")
2022-12-15 17:41:57,044 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-15 17:41:57,044 INFO sqlalchemy.engine.Engine COMMIT

In [25]:
jack = User(name='jack', fullname='Jack Bean', password='gjffdd')
jack.addresses

[]

In [26]:
jack.addresses = [Address(email_address='jack@google.com'), Address(email_address='j25@yahoo.com')]

In [27]:
jack.addresses[1]

In [28]:
jack.addresses[1].user